*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}

.dashboardTitle{
  color: #fff;
  margin-left: 100px;
}
/* styles.css */
.dashboard {
    display: flex;
    justify-content: space-between;
  }
  .tables {
    display: flex;
    justify-content: space-around; /* This will space out the tables evenly */
    flex-basis: 30%;
  }
  
  .table {
    width: 50%; /* Adjust the width as necessary */
    /* Other styling here */
    margin-left:20px;
  }
  
#stockCostTable, #outOfStockTable {
  background-color: #333333; /* Change this to any color you like */
  margin-right: 20px;

}

#stockCostTable td, #outOfStockTable td {
  padding: 8px;
  border: 1px solid #ddd;
  width: 200px; /* Set the width of the cells */
  /* height: 50px; Uncomment if you want to set a fixed height */
}

#stockCostTable th, #outOfStockTable th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  text-align: left;
}

#stockCostTable tr:nth-child(even) {
  background-color: #fff;
}

#outOfStockTable tr:nth-child(even) {
  background-color: #fff;
}
  
  #myChart {
    margin-left: 100px; 
    flex-basis: 70%;
  }
  
  /*--------------------*/ 
  /* For inventory.html */
  /*--------------------*/
#ingredientsTable {
  background-color: rgba(255, 255, 255, 0.8); /* Change this to any color you like */
}

#ingredientsTable td {
  padding: 8px;
  border: 1px solid #ddd;
  size: 200px;
}
#ingredientsTable th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  text-align: left;
}
#ingredientsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

  

  .mainInventoryBody, .mainProductsBody{
    margin-left: 100px;
  }

  .mainInventoryBody h1, .mainProductsBody h1, .mainProductsBody h2, .transactionDetails h1{
    color:#fff;
  }

  .inventoryContainer {  /* Style the new container */
    display: flex;  /* Enable flexbox */
  }
  
  .bottomInventoryInput {  /* Style the right-side div */
    flex: 0 0 auto;  /* Set width to fit content, don't grow */
    margin-left: 10px;  /* Add some margin for spacing */
  }
  #productName, #productDescription, #productQuantity, #productCost, #productLowStock, #productQuantityType {
    width: 200px;
    height: 40px;
  }

  #saveProductButton,#addProductButton{
    width: 200px;
  }

  /*--------------------*/ 
  /* For products.html */
  /*--------------------*/
#productTable {
    background-color: rgba(255, 255, 255, 0.8); /* Change this to any color you like */
  }

#productTable td {
  padding: 8px;
  border: 1px solid #ddd;
  size: 200px;
}
#productTable th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  text-align: left;
}
#productTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
.productContainer {
  flex: 55%;
}

.SideProductColumns {
  flex: 45%;
}

.transactionDetails{
  margin-top: 100px;
  margin-left: 100px;
}

#transactionTable {
  background-color: rgba(255, 255, 255, 0.8); /* Change this to any color you like */
}

#transactionTable td {
  padding: 8px;
  border: 1px solid #ddd;
  size: 200px;
}
#transactionTable th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  text-align: left;
}
#transactionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transactionDashboardTable{
  margin-left: 100px;
  margin-top: 10px;
}
        
.loginInputs{
  margin: auto;
  width: 12%;
  border: 3px #333333;
  background-color: rgba(0,0,0,0.45);
  padding: 10px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.loginInputs label{
  color: #fff;
}
.centerLogo{
  margin: auto;
  scale: 120%;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 51%;
  transform: translate(-50%,-50%);
}